.playing-field {
  position: relative;

  margin: auto;

  border: solid 1px black;
}

.circle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
