* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* Устанавливаем базовый размер шрифта */
}

body {
  line-height: 1.5; /* Устанавливаем высоту строки для лучшей читаемости */
  font-family: Arial, sans-serif; /* Устанавливаем шрифт по умолчанию */
}

/* Сброс стилей для заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; /* Сбрасываем начальное значение жирности */
}

/* Сброс стилей для списков */
ul,
ol {
  list-style: none; /* Убираем маркеры и номера */
}

/* Сброс стилей для ссылок */
a {
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Унаследуем цвет от родителя */
}

/* Сброс стилей для таблиц */
table {
  border-collapse: collapse; /* Убираем пробелы между ячейками */
}

/* Сброс стилей для изображений */
img {
  max-width: 100%; /* Ограничиваем ширину изображений */
  height: auto; /* Сохраняем пропорции изображений */
}

body {
  padding: 100px 100px 0 100px;
  background: url(./image/container_bg.png);
}

.card-catalog__button {
  height: 45px;
}

.card-catalog {
  padding: 15px 15px 0 15px;
  margin: auto;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  background: white;
}

.container__wrapper-for-button {
  display: flex;
  align-items: center;
  background: white;
  margin: 0 auto;
  max-width: 1024px;
  height: 75px;
}

.card-catalog__button {
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #30a7d7;
  color: white;
  border-radius: 5px;
  border: 0px;
}

.pokemon-card {
  margin: auto;
  width: 205px;
  background: white;
  margin-bottom: 50px;
}

.pokemon-card__image {
  margin-bottom: 5px;
  height: 230px;
  border-radius: 10px;
}

.imgPC {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}

.pokemon-card__info {
  padding: 0 20px 20px 20px;
}

.pokemon-card__id {
  margin-bottom: 15px;
  color: gray;
}

.pokemon-card__name {
  margin-bottom: 5px;
}

.pokemon-card__set-of-forces {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-card__type-of-force {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  border-radius: 5px;
}

/* Адаптирование */
@media screen and (max-width: 500px) {
  body {
    padding: 50px 50px 0 50px;
  }
}
